# Default owners for everything in the repo
* @pinotelio

# Documentation
*.md @pinotelio
docs/ @pinotelio
templates/ @pinotelio

# GitHub workflows
.github/ @pinotelio

# Go code
*.go @pinotelio
go.mod @pinotelio
go.sum @pinotelio

