---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  Fetches an n8n workflow.
---

# {{.Name}} ({{.Type}})

Retrieves information about an existing n8n workflow.

## Example Usage

{{ tffile "examples/data-sources/n8n_workflow/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}

