name: Documentation

on:
  pull_request:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'templates/**'
      - 'examples/**'
      - 'internal/provider/**'

permissions:
  contents: read

jobs:
  docs:
    name: Check Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Generate docs
        run: |
          go install github.com/hashicorp/terraform-plugin-docs/cmd/tfplugindocs@latest
          tfplugindocs generate

      - name: Check for changes
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference in documentation after generation. Run 'tfplugindocs generate' or 'go generate' and commit the changes."; exit 1)

